@import 'nib/vendor'
@import 'nib/gradients'

*
	border 0
	margin 0
	padding 0
	
::selection
	background #6cacff
	color #FFF

canvas
	-ms-touch-action double-tap-zoom
	
body
	background rgb(254,254,254)

nav#superior
	background #f8f8f8
	border #e7e7e7
	box-shadow 0 0 15px 0 #5c6c7f
	width 100%
	height 50px
	z-index 1001
	position fixed
	
section#sideright
	margin-top 52px
	height 100%
	width 250px
	background #f8f8f8
	border #e7e7e7
	z-index 1000
	position absolute
	margin-left -200px
	
section#contenido
	padding-top 50px
	margin-left 50px
	
section#principal
	padding 15px
	
.cambio
	transition all 0.5s
	&:hover,&:active
		transition all 0.5s

.cambioc
	transition: color 1s
	&:hover,&:active
		transition: color 1s
		
.derecha
	float right
	
.izquierda
	float left
		
#logo
	margin 0 auto
	text-align center
	width 100px
	img
		width 100%

#menup
	text-align center
	li
		display block
		border-bottom 1px solid #e7e7e7
		margin 0 auto
		width 50px
		height 50px
		vertical-align middle
		span
			top 40%

#menup li:first-child
	border-top 1px solid #e7e7e7	
	
#menug 
	display none
	text-align left
	li
		display block
		border-bottom 1px solid #e7e7e7
		margin 0 auto
		height 50px
		font-size 16px
		vertical-align middle
		position relative
		span button
			padding-left 10px
			text-align left
			font-family 'Open Sans'
			font-size 18px
			position absolute
			width 100%
			height 100%
		
#menug li:first-child
	border-top 1px solid #e7e7e7	
	
.espa
	margin-right 10px
		
.menu-derecha
	text-align right
	.item
		cursor pointer
		color #555
		display inline-block
		vertical-align middle
		height 30px
		padding 10px 15px
		font-size 24px
		margin-right 5px
		&:hover
			background #eee
	.item:last-child
		margin-right 20px
		
.i-conf:hover
	color #007CC3
			
.i-envelo:hover
	color #EF4E17	
		
.i-noti:hover
	color #DB814D
	
.girar:hover
	transform rotate(360deg)
			
.vibra
	transform rotate(0deg)
	&:hover
		transform rotate(10deg)
		transform rotate(-10deg)
	

.submenu
	display none
	font-family 'Open Sans'
	border 1px solid #eee
	position absolute
	top 36px
	right -15px
	background #f8f8f8
	z-index 1003
	border-radius 0px 0px 4px 4px
	text-align left
	min-width 200px
	li
		display block
		margin 0 auto
		font-size 12px
		vertical-align middle
		position relative
		border-bottom 1px solid #eee		
		padding 12px 5px
		color #555
		&:hover
			border-bottom 2px solid #007CC3
			font-weight bold
			background #eee
			color #007CC3
		span
			font-size 16px
			vertical-align middle
		

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-cog:before {
  content: "\e019";
}

.glyphicon-search:before {
  content: "\e003";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-bookmark:before {
  content: "\e044";
}

.btn
	display inline-block
	padding 6px 12px
	margin-bottom 0
	font-weight 400
	line-height 1.42857143
	text-align center
	white-space nowrap
	touch-action manipulation
	cursor pointer
	user-select none
	background-image none
	border 1px solid transparent
	border-radius 4px
	&:active
		background-image none
		outline 0
		box-shadow inset 0 3px 5px rgba(0,0,0,0.125)	
		
.btnmenu
	cursor pointer
	background transparent
	vertical-align middle
	&:hover
		transition all 0.5s
		font-weight bold
		background #eee
	span
		vertical-align middle

.btn-cliente:hover,.btn-cliente:active
	border-right 5px solid #007CC3
	color #007CC3
	
.btn-agenda:hover,.btn-agenda:active
	border-right 5px solid #97A3A0
	color #97A3A0
	
.btn-afila:hover,.btn-afila:active
	border-right 5px solid #EF4E17
	color #EF4E17
	
.btn-venta:hover,.btn-venta:active
	border-right 5px solid #DB814D
	color #DB814D
	
input[type="search"]
	box-sizing content-box
	-webkit-appearance textfield
	padding 6px 12px
	line-height 1.42857143
	background-color #fff
	background-image none
	border 1px solid #ccc
	box-shadow inset 0 1px 1px rgba(0,0,0,.075)
	transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
	&:focus
		border-color #66afe9
		outline 0
		box-shadow inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
		
.busca
	position relative
	margin 0 auto
	width 220px
	margin-top 12px
	.buscan,.btn-busca
		position absolute
	.buscan
		border-radius 4px 0px 0px 4px
		height 18px
		width 161px
	.btn-busca
		height 32px
		width 40px
		top 0
		right 0
		span
			vertical-align middle 
		
.buscador
	height 60px !important
		
.fade
	opacity 1 
	transition all 0.5s ease-in 
	&:hover
		opacity 0.7
		transition all 0.5s ease-out
		
.btn-default
	color #fff
	border-radius 0px 4px 4px 0px
	background #EF4E17
	// background-image linear-gradient(to bottom, #5cb85c 0%, #419641 100%)
	background-repeat repeat-x
	border-color #dbdbdb
	border-color #ccc
	&:hover
		background-color #f78c6f
		background-position 0 -15px
	&:active
		background-color #f78c6f
		border-color #dbdbdb
		
.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}